---
layout: default
---
<div id="container" class="container fixed-width">
  <div id="header">
    <img id="logo" alt="Review app permissions logo" src="images/lock.svg">
    <h1>{{ site.name }}</h1>
    <p class="lead">{{ site.description }}</p>
  </div>

  <br>

  <h4>Steps</h4>

  <p class="text-muted">Follow these basic steps to secure your accounts.</p>

  <ol id="steps">
    <li>Review the permissions granted to third-party applications and services that have access to your accounts.</li>
    <li>Revoke the permissions of third-party applications and services you don't recognise or don't use.</li>
    <li>Check off the reviewed services on the list.</li>
  </ol>

  <br>

  <h4>Checklist</h4>

  <p class="text-muted">Check off the services you have reviewed.</p>

  <table class="table">
    <tbody>
      {% for site in site.data.services %}
      {% assign svc_id = site.name | downcase | replace: ' ', '_' | replace: '.', '_' %}
      <tr>
        <td class="align-middle"><input id="{{ svc_id }}" class="check-with-label" type="checkbox"></td>
        <td class="align-middle"><img class="rounded icon" alt="{{ site.name }} icon" src="images/{{ svc_id }}.png"></td>
        <td class="align-middle"><label class="font-weight-bold" for="{{ svc_id }}">{{ site.name }}</label></td>
        <td class="align-middle">{{ site.description }}</td>
        <td class="align-middle">{% if site.docs_url %}<a href="{{ site.docs_url }}" target="_blank" rel="noopener" class="text-muted">docs</a>{% endif %}</td>
        <td class="align-middle"><a href="{{ site.review_url }}" target="_blank" rel="noopener" class="btn btn-primary btn-sm">review</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<div>
