---
layout: default
---
<div class="container fixed-width" style="width: 740px">
  <div style="text-align: center">
    <img src="images/thumbsup.svg" style="margin: 2em; height: 80px; width: 80px;">
    <h1>{{ site.name }}</h1>
    <p class="lead">{{ site.description }}</p>
  </div>

  <br>

  <h4>Steps</h4>

  <p class="text-muted">Follow these basic steps to secure your accounts.</p>

  <ol style="margin: 1em 0">
    <li>Review the permissions granted to services that have access to your accounts.</li>
    <li>Revoke the permissions of services you don't recognize or don't use.</li>
    <li>Check off the reviewed services on the list.</li>
  </ol>

  <br>

  <h4>Checklist</h4>

  <p class="text-muted">Check off the services you have reviewed.</p>

  <table class="table">
    <tbody>
      {% for site in site.data.sites %}
      <tr>
        <td class="align-middle"><input class="check-with-label" type="checkbox"></td>
        <td class="align-middle"><img class="rounded" style="width: 2em; height: 2em;" src="images/{{ site.name | downcase  | replace: ' ', '_'  }}.png"></td>
        <td class="align-middle"><a href="{{ site.url }}" target="_blank">{{ site.name }}</a></td>
        <td class="align-middle">{{ site.description }}</td>
        <td class="align-middle">{% if site.docs_url %}<a href="{{ site.docs_url }}" target="_blank" class="text-muted">docs</a>{% endif %}</td>
        <td class="align-middle"><a href="{{ site.review_url }}" target="_blank" class="btn btn-primary btn-sm">review</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<div>
