<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}">

    <title>{{ site.name }}</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.permissions.review"]]);
      _paq.push(["setDoNotTrack", true]);
      _paq.push(["disableCookies"]);
      _paq.push(['trackPageView']);
      (function() {
        var u="//koenrh.piwikpro.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 7]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://koenrh.piwikpro.com/piwik.php?idsite=7" style="border:0;" alt="" /></p></noscript>
  </head>

  <body>
    {{ content }}

    <hr>

    <p style="text-align: center">Contribute to this project on <a href="https://github.com/koenrh/permissions-review">GitHub</a>.</p>

    <div class="footer text-muted" style="font-size: 0.8em; text-align: center; margin: 1em 0">
      <p>Built by @<a href="https://github.com/koenrh">koenrh</a>.<br>Logo is made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">Flaticon</a>, and is licensed under <a href="https://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.</p></div>
  </body>
</html>
