<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}">

    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <style type="text/css">
      a {
        color: #226278;
      }
      a:hover, a:focus, a:active {
        color: #104857;
      }
    </style>
  </head>

  <body>
    {{ content }}

    <hr>

    <p style="text-align: center">Contribute to this project on <a href="https://github.com/koenrh/permissions-review">GitHub</a>.</p>

    <div class="footer text-muted" style="font-size: 0.8em; text-align: center; margin: 1em 0">
      <p>Built with <3 by @<a href="https://github.com/koenrh">koenrh</a>.<br>Logo is made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">Flaticon</a>, and is licensed under <a href="https://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.</p></div>
  </body>
</html>
